<%
=begin%>
 <ul>
    <li id="chat-trigger" onclick="show_chat();">Chat</li>
    <li id="chat-trigger" onclick="show_todo();">ToDo</li>
</ul> 
<%
=end%>
<a href="javascript:;" class="btn btn-circle btn-icon-only purple non-Gxp-menu-options" id="non-Gxp-menu-options-nots"  onclick="show_note();">
    <i class="far fa-clipboard"></i>
</a>

<a href="javascript:;" class="btn btn-circle btn-icon-only green non-Gxp-menu-options" id="non-Gxp-menu-options-todo"  onclick="show_todo();">
    <i class="fas fa-check"></i>
</a>

<style>
.non-Gxp-menu-options{
    margin-top: 10px;
}
</style>