<!-- https://www.bypeople.com/web-chat-widget/ -->
<div class="container clearfix">
  <div class="people-list" id="people-list">
    <div class="search">
      <input type="text" placeholder="search" />
      <i class="fa fa-search"></i>
    </div>
    <ul class="list rooms_list" id="rooms_list">
      <% @rooms = Room.all %>
      <% if true || false %>
      <%= turbo_stream_from "rooms" %>
        <%= turbo_frame_tag "rooms" do %>
          <%# render partial: 'rooms', collection: @rooms, locals: {prefix: nil} %>
          <%= render "rooms" %>
        <% end %>
      <% end %>

    </ul>
  </div>

  <div class="chat asdasd" id="chat_div">

<%= render template: "rooms/show"  %>
  </div> <!-- end chat -->

</div> <!-- end container -->


<script type="text/javascript">
  function highlight_room(room_id){
    let id = room_id.replace('room_','');
    let non_active = document.getElementsByClassName('active_room');
    non_active[0].classList.remove('active_room');
    let active_room = document.getElementById('room_'+id);
    active_room.classList.add('active_room');
  }

  var classname = document.getElementsByClassName("room_li");

var myFunction = function() {
  highlight_room(this.id)
    // var attribute = this.getAttribute("data-myattribute");

};

for (var i = 0; i < classname.length; i++) {
    classname[i].addEventListener('click', myFunction, false);
}

function checkRoom() {
  let chat = document.getElementById("chat_div")
  let room = chat.querySelectorAll('.room_li')[0];
  let room_list = document.getElementById("rooms_list")
  let room_li = room_list.querySelector("#"+room.id);
  room_li.classList.add('active_room');
}
</script>
